@media only screen and (min-width : 480px) {
	
	.authentic__link {
		padding: 8px 13px 7px;
		font-size: 15px;
	}

	.logo_header {
		font-size: 48px;
	}
	
	.logo_footer {
		font-size: 32px;
	}

	.nav-link {
		font-size: 16px;
	}

	.slider__text {
		font-size: 30px;
	}

	.swiper-container {
  	height: 50%;
 	}
	.swiper-slide {
  	background-position: center;
	}

	.potential_block,
	.customer__block,
	.footer__block:first-child,
	.about__block,
	.delivery__block {
		padding: 2.5rem;
	}

	.section__title_services {
    padding: 2rem;
	}

	.services__block,
	.footer__block:first-child {
    padding-left: 2.5rem;
	}

	.customer {
		background: url('../img/customer-img.jpg') no-repeat center center;
		padding: 1.5rem;
		background-size: cover;
	}

	/*.customer__info {
		position: absolute;
		top: 10%;
    right: 10%;
	}*/

	.customer .section__title_customer,
	.customer .section__title_customer span, 
	.customer .section__text_customer {
		text-align: right;
	}

	.section__title_customer,
	.section__title_about {
    margin-bottom: 5px;
	}

	.section__text_customer {
		padding-left: 34%;
	}
}

@media only screen and (min-width : 768px) {

	.wrapper:after {
		content: "";
		height: 250px;
		display: block;
	}
	.page-footer{
		height: 250px;
		margin-top: -250px;
		background-color: #262626;	
	}
	
	.social__item_fb {
		background: url('../img/social_sprite-full.png') no-repeat -75px -45px;
		width: 42px;
		height: 43px;
	}

	.social__item_tw {
		background: url('../img/social_sprite-full.png') no-repeat -127px -45px;
		width: 43px;
		height: 43px;
	}

	.social__item_fb:hover {
		background: url('../img/social_sprite-full.png') no-repeat -75px 0;
		width: 42px;
		height: 43px;
	}

	.social__item_tw:hover {
		background: url('../img/social_sprite-full.png') no-repeat -127px 0;
		width: 43px;
		height: 43px;
	}

	.logo_header {
		font-size: 69px;
	}
	
	.logo_footer {
		font-size: 32px;
	}

	.navbar-toggler-right {
    top: 2rem;
	}

	.slider__text {
		font-size: 43px;
	}

	.swiper-container {
  	height: 55%;
 	}

	.authentic__link {
		padding: 14px 19px 13px;
	}

	.section__title {
    font-size: 21px;
	}

	h2.section__title:before {
    font-size: 30px;
	}
	.potential .section__title span {
    margin-left: 3rem;
	}
	.potential .section__title_deliv span {
    margin-left: 3.5rem;
	}

	.customer__block,
	.footer__block:first-child {
		padding: 0;
	}

	.section__text_customer {
		padding: 1% 0% 3% 50%;
	}
	
	.footer__block_deliver {
		overflow: hidden;
	}

	.footer__block .logo_footer {
		float: right;
	}

	.footer__block {
		margin-top: 40px;
		margin-left: 15px;
	}

	.footer__block_copy {
		margin: 20px 0 15px 20px;
	}

	.section__text_deliver {
		text-align: right;
	}

}

@media only screen and (min-width : 992px) {

	.nav-link {
	  display: block;
	  padding: 1.6em 1em 1.35em;
	}
	.nav-link:hover {
		padding: 1.6em 1em 1.35em;
		transition: 0s;
	}

	.logo_header {
		font-size: 89px;
	}

	.navbar-nav {
		position: absolute;
		right: 0;
	}


	.navbar-toggleable-md {
    -webkit-box-align: end;
    -webkit-align-items: end;
    -ms-flex-align: end;
    align-items: end;
	}

	.navbar-toggleable-md .navbar-nav .nav-link {
	    padding-right: 1.5rem;
	    padding-left: 1.5rem;
	}

	
	.logo_header {
		font-size: 72px;
	}

	.slider__text {
		font-size: 52px;
	}
	
	.dropdown-menu {
		padding: 1rem 2.5rem 3rem 2rem;
		background-color: #262626;
		margin: 0;
		border: none;
	}

	.dropdown-item {
		padding: 7px 12px 7px 0;
		color: #e7e7e7;
		border-bottom: 1px solid #3d3a3a;
		font-size: 14px;
	}

	.dropdown-item:hover {
		color: #c61e25;
		background-color: transparent;
	}
	
	.potential_block {
		background-color: rgba(238, 49, 57, 0.8);
	}
	.potential__block_terms {
		background-color: rgba(221, 221, 221, 0.8);
	}
	.potential_block_calling {
		background-color: rgba(48, 48, 48, 0.8);
	}
	.slider {
		position: relative;
		z-index: 1;
	}

	.potential__mobile {
		display: none;
	}

	.potential {
		background-color: transparent;
		position: absolute;
		bottom: -15px;
		left: 0;
		z-index: 199;
	}

	.about__block {
		padding: 5rem;
		padding-left: 8rem;
	}
	
	.section__title_about span {
		display: block;
		margin-left: 1rem;
		margin-bottom: 1rem;
	}

	.delivery__block {
		padding: 5rem;
		padding-left: 0;
	}

	.footer__block .logo_footer {
    font-size: 46px;
	}


}

@media only screen and (min-width : 1200px) {
	
	body {
		font-size: 14px;
	}

	.slider__text {
		font-size: 72px;
	}

	.section__title {
    font-size: 36px;
	}

	h2.section__title:before {
    font-size: 52px;
	}
	
	.section__title span {
		font-size: 28px;
	}

	.potential .section__title span {
    margin-left: 5rem;
    margin-bottom: 1.5rem;
	}

	.potential .section__title_deliv span {
    margin-left: 6rem;
    margin-bottom: 1.5rem;
	}

	.section__text {
		line-height: 1.7;
	}

	.section__text:after {
    font-size: 24px;
    vertical-align: middle;
	}

	.potential_block {
    padding: 3.5rem;
	}

	.section__title_services,
	.section__title_about,
	.section__title_about span {
    text-align: left;
	}

	.section__link {
    width: 118px;
    padding: 10px 18px;
    font-size: 14px;
	}

	.section__name {
		font-size: 22px;
	}

	.section__title_about span {
		margin-bottom: 2.5rem;
	}

	.delivery__link {
		font-size: 16px;
	}

	.delivery__link:before {
		font-size: 28px;
	}

	.footer__title {
		font-size: 18px;
		padding-bottom: 5px;
	}

	.footer__link {
		line-height: 1.7;
	}
	
	.footer__block .logo_footer {
    font-size: 56px;
	}

}






